body{
  background-color: rgb(224, 222, 208);
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
  margin:0;
}
/*banner and top nave and bottom nav*/
.container
{
  width:80%;
  margin: auto;
  overflow: hidden;

}

header{
  background-color: rgb(43, 89, 119);
  color: rgb(207, 153, 36);
  min-height: 30px;
}

header ul{
  align:left;

}
header li{
  display: inline;

}

 .showcase
{
  min-width: 400px;
  /*background:url('../images/banner.jpg') no-repeat;*/
  background-color: rgb(163, 144, 57);
}

#blogs
{
  margin:auto;
  width: 80%;
}

  .article h1{
  margin-left:0;
  align: left;
  }
  .article img
  {
    margin-left:20px;
    width:200px;
    height:200px;
  }

@media screen and (min-width:800pxpx){
  header li
  {
    float:left;
  }
.article h1{
margin-left: 50%;
}


.article img{
  margin: 10px;
  height:50%;
  width:50%;
  align: left;

}
}
#categories{
  background-color: rgb(43, 89, 119);
  margin-top: 5ß00px;
  color: rgb(236, 225, 203);
}
#categories a{
  color:rgb(236, 225, 203);
  text-decoration-line: none;
}
